/* Doston Hamrakulov */

body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    background: #fff;
}

body a {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Crimson Text', serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1.1em;
    letter-spacing: 1px;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}


/*-- banner --*/

.header {
    position: absolute;
    width: 100%;
    padding-top: 2em;
}

nav.navbar.navbar-default {
    background: transparent;
    margin: 0;
    z-index: 9999;
    border: none;
}

ul.nav.navbar-nav {
    padding-top: 1.3em;
}

.navbar-nav {
    float: right;
    margin: 0;
    text-align: center;
}

.navbar-header h1 a {
    color: #fff;
    padding: 4px 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: 'Monoton', cursive;
}

.navbar-header h1 a span {
    font-size: .5em;
}


/*-- top-nav --*/

.navbar-nav li {
    float: none;
    display: inline-block;
}

.nav.navbar-nav.nav-center li a {
    color: #fff;
    font-size: 1.2em;
    padding: 0;
    letter-spacing: 2px;
    position: relative;
    min-width: 101px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

.nav.navbar-nav.nav-center li a:hover,
.nav.navbar-nav.nav-center li a:focus,
.nav.navbar-nav.nav-center li a.active {
    color: #eead31;
}

.nav-hover:hover,
.nav.navbar-nav.nav-center li a.active {
    letter-spacing: 3px;
}

.nav-hover:after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -3px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.nav-hover:hover:after,
.navbar-default .navbar-nav li a.active:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #eead31;
    -webkit-transition: width 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out;
    -ms-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 55%;
}

.nav.navbar-nav.navbar-right li a.dropdown-toggle {
    padding: 0;
    font-size: 1.6em;
    color: #eead31;
    margin: 0 0.8em .5em
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background: none;
}

ul.dropdown-menu {
    background: transparent;
    border-color: #909090;
}

ul.dropdown-menu {
    -moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
    -o-animation: fadeInDown .3s ease-in;
    -ms-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #999;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: transparent;
}


/*-- //top-nav --*/

.cd-radial-slider-content h3 {
    font-size: 2.5em;
    color: #fff;
    font-style: italic;
    line-height: 1.2em;
}

.w3ls-banner-text h4 {
    margin: 0.2em 0 0;
    color: #fff;
    font-size: 7.5em;
    font-weight: 800;
    text-transform: uppercase;
}
