/* Doston Hamrakulov */

body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    background: #fff;
}

body a {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Crimson Text', serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1.1em;
    letter-spacing: 1px;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}


/*-- banner --*/

.header {
    position: absolute;
    width: 100%;
    padding-top: 2em;
}

nav.navbar.navbar-default {
    background: transparent;
    margin: 0;
    z-index: 9999;
    border: none;
}

ul.nav.navbar-nav {
    padding-top: 1.3em;
}

.navbar-nav {
    float: right;
    margin: 0;
    text-align: center;
}

.navbar-header h1 a {
    color: #fff;
    padding: 4px 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: 'Monoton', cursive;
}

.navbar-header h1 a span {
    font-size: .5em;
}


/*-- top-nav --*/

.navbar-nav li {
    float: none;
    display: inline-block;
}

.nav.navbar-nav.nav-center li a {
    color: #fff;
    font-size: 1.2em;
    padding: 0;
    letter-spacing: 2px;
    position: relative;
    min-width: 101px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

.nav.navbar-nav.nav-center li a:hover,
.nav.navbar-nav.nav-center li a:focus,
.nav.navbar-nav.nav-center li a.active {
    color: #eead31;
}

.nav-hover:hover,
.nav.navbar-nav.nav-center li a.active {
    letter-spacing: 3px;
}

.nav-hover:after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -3px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.nav-hover:hover:after,
.navbar-default .navbar-nav li a.active:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #eead31;
    -webkit-transition: width 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out;
    -ms-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 55%;
}

.nav.navbar-nav.navbar-right li a.dropdown-toggle {
    padding: 0;
    font-size: 1.6em;
    color: #eead31;
    margin: 0 0.8em .5em
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background: none;
}

ul.dropdown-menu {
    background: transparent;
    border-color: #909090;
}

ul.dropdown-menu {
    -moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
    -o-animation: fadeInDown .3s ease-in;
    -ms-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #999;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: transparent;
}


/*-- //top-nav --*/

.cd-radial-slider-content h3 {
    font-size: 2.5em;
    color: #fff;
    font-style: italic;
    line-height: 1.2em;
}

.w3ls-banner-text h4 {
    margin: 0.2em 0 0;
    color: #fff;
    font-size: 7.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-right {
    padding: 3em 3em 0;
}

.banner-left {
    padding: 2em;
}

.banner-left {
    border-right: 1px solid #fff;
}

.w3ls-banner-text.text-center p {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.cd-radial-slider-content h2 span,
.cd-radial-slider-content h3 span {
    display: block;
    color: #eead31;
}

.ban-btn {
    font-size: 1em;
    color: #fff !important;
    border: 1px solid #fff;
    padding: .6em 1.5em;
    margin-top: 2em;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    outline: none;
    text-decoration: none !important;
}

.ban-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #eead31;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ban-btn:hover {
    color: #fff;
}

.ban-btn:hover::before {
    opacity: 1;
    width: 100%;
}


/*-- //banner --*/


/*-- about--*/


/*-- Pricecs --*/

.prices-grids {
    text-align: center;
    border: 1px solid #e8e8e8;
    background: rgba(0, 0, 0, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    padding: 0 0 1.5em;
}

.agileinfo-price-top {
    padding: 1.5em 0;
    border-bottom: 1px solid #d2d2d2;
}

.agileinfo-price-top h5 {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}

.agileinfo-price-top p {
    font-size: 1em;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.prices-grids ul li {
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 1.5em;
    color: #505050;
}

.prices-grids:hover {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.prices-grids:hover .agileinfo-price-top {
    background: #eead31;
}

.prices-grids:hover .agileinfo-price-top h5 {
    color: #fff;
}

.prices-grids:hover .agileinfo-price-top p {
    color: #000;
}

.prices-grids:hover .form-buttons a {
    background: #eead31;
    color: #fff;
    width: 100%;
}
/*-- //banner --*/


/*-- about--*/


/*-- Pricecs --*/

.prices-grids {
    text-align: center;
    border: 1px solid #e8e8e8;
    background: rgba(0, 0, 0, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    padding: 0 0 1.5em;
}

.agileinfo-price-top {
    padding: 1.5em 0;
    border-bottom: 1px solid #d2d2d2;
}

.agileinfo-price-top h5 {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}

.agileinfo-price-top p {
    font-size: 1em;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.prices-grids ul li {
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 1.5em;
    color: #505050;
}

.prices-grids:hover {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.prices-grids:hover .agileinfo-price-top {
    background: #eead31;
}

.prices-grids:hover .agileinfo-price-top h5 {
    color: #fff;
}

.prices-grids:hover .agileinfo-price-top p {
    color: #000;
}

.prices-grids:hover .form-buttons a {
    background: #eead31;
    color: #fff;
    width: 100%;
}


/*-- mid-Prices-active --*/

.mid-price .agileinfo-price-top {
    background: #eead31;
}

.mid-price {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.mid-price .agileinfo-price-top h5 {
    color: #fff;
}

.mid-price .agileinfo-price-top p {
    color: #000;
}

.mid-price .form-buttons a {
    background: #eead31;
    width: 100%;
    color: #fff;
}

.form-buttons a span {
    color: #eead31;
    font-size: 17px;
    padding-right: 4px;
}

.form-buttons a {
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 0.7em 2em;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 1.3em;
}

.form-buttons a:hover {
    background: #252525;
    color: #fff;
    text-decoration: none;
}

.form-buttons a:focus {
    outline: none;
}


/*--// mid-Prices-active --*/


/*--// Prices --*/
