/* Doston Hamrakulov */

body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    background: #fff;
}

body a {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Crimson Text', serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1.1em;
    letter-spacing: 1px;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}


/*-- banner --*/

.header {
    position: absolute;
    width: 100%;
    padding-top: 2em;
}

nav.navbar.navbar-default {
    background: transparent;
    margin: 0;
    z-index: 9999;
    border: none;
}

ul.nav.navbar-nav {
    padding-top: 1.3em;
}

.navbar-nav {
    float: right;
    margin: 0;
    text-align: center;
}

.navbar-header h1 a {
    color: #fff;
    padding: 4px 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: 'Monoton', cursive;
}

.navbar-header h1 a span {
    font-size: .5em;
}


/*-- top-nav --*/

.navbar-nav li {
    float: none;
    display: inline-block;
}

.nav.navbar-nav.nav-center li a {
    color: #fff;
    font-size: 1.2em;
    padding: 0;
    letter-spacing: 2px;
    position: relative;
    min-width: 101px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

.nav.navbar-nav.nav-center li a:hover,
.nav.navbar-nav.nav-center li a:focus,
.nav.navbar-nav.nav-center li a.active {
    color: #eead31;
}

.nav-hover:hover,
.nav.navbar-nav.nav-center li a.active {
    letter-spacing: 3px;
}

.nav-hover:after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -3px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.nav-hover:hover:after,
.navbar-default .navbar-nav li a.active:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #eead31;
    -webkit-transition: width 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out;
    -ms-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 55%;
}

.nav.navbar-nav.navbar-right li a.dropdown-toggle {
    padding: 0;
    font-size: 1.6em;
    color: #eead31;
    margin: 0 0.8em .5em
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background: none;
}

ul.dropdown-menu {
    background: transparent;
    border-color: #909090;
}

ul.dropdown-menu {
    -moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
    -o-animation: fadeInDown .3s ease-in;
    -ms-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #999;
}

.nav.navbar-nav.navbar-right li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: transparent;
}


/*-- //top-nav --*/

.cd-radial-slider-content h3 {
    font-size: 2.5em;
    color: #fff;
    font-style: italic;
    line-height: 1.2em;
}

.w3ls-banner-text h4 {
    margin: 0.2em 0 0;
    color: #fff;
    font-size: 7.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-right {
    padding: 3em 3em 0;
}

.banner-left {
    padding: 2em;
}

.banner-left {
    border-right: 1px solid #fff;
}

.w3ls-banner-text.text-center p {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.cd-radial-slider-content h2 span,
.cd-radial-slider-content h3 span {
    display: block;
    color: #eead31;
}

.ban-btn {
    font-size: 1em;
    color: #fff !important;
    border: 1px solid #fff;
    padding: .6em 1.5em;
    margin-top: 2em;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    outline: none;
    text-decoration: none !important;
}

.ban-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #eead31;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ban-btn:hover {
    color: #fff;
}

.ban-btn:hover::before {
    opacity: 1;
    width: 100%;
}


/*-- //banner --*/


/*-- about--*/


/*-- Pricecs --*/

.prices-grids {
    text-align: center;
    border: 1px solid #e8e8e8;
    background: rgba(0, 0, 0, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    padding: 0 0 1.5em;
}

.agileinfo-price-top {
    padding: 1.5em 0;
    border-bottom: 1px solid #d2d2d2;
}

.agileinfo-price-top h5 {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}

.agileinfo-price-top p {
    font-size: 1em;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.prices-grids ul li {
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 1.5em;
    color: #505050;
}

.prices-grids:hover {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.prices-grids:hover .agileinfo-price-top {
    background: #eead31;
}

.prices-grids:hover .agileinfo-price-top h5 {
    color: #fff;
}

.prices-grids:hover .agileinfo-price-top p {
    color: #000;
}

.prices-grids:hover .form-buttons a {
    background: #eead31;
    color: #fff;
    width: 100%;
}
/*-- //banner --*/


/*-- about--*/


/*-- Pricecs --*/

.prices-grids {
    text-align: center;
    border: 1px solid #e8e8e8;
    background: rgba(0, 0, 0, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    padding: 0 0 1.5em;
}

.agileinfo-price-top {
    padding: 1.5em 0;
    border-bottom: 1px solid #d2d2d2;
}

.agileinfo-price-top h5 {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}

.agileinfo-price-top p {
    font-size: 1em;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.prices-grids ul li {
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 1.5em;
    color: #505050;
}

.prices-grids:hover {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.prices-grids:hover .agileinfo-price-top {
    background: #eead31;
}

.prices-grids:hover .agileinfo-price-top h5 {
    color: #fff;
}

.prices-grids:hover .agileinfo-price-top p {
    color: #000;
}

.prices-grids:hover .form-buttons a {
    background: #eead31;
    color: #fff;
    width: 100%;
}


/*-- mid-Prices-active --*/

.mid-price .agileinfo-price-top {
    background: #eead31;
}

.mid-price {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.23);
}

.mid-price .agileinfo-price-top h5 {
    color: #fff;
}

.mid-price .agileinfo-price-top p {
    color: #000;
}

.mid-price .form-buttons a {
    background: #eead31;
    width: 100%;
    color: #fff;
}

.form-buttons a span {
    color: #eead31;
    font-size: 17px;
    padding-right: 4px;
}

.form-buttons a {
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 0.7em 2em;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 1.3em;
}

.form-buttons a:hover {
    background: #252525;
    color: #fff;
    text-decoration: none;
}

.form-buttons a:focus {
    outline: none;
}


/*--// mid-Prices-active --*/


/*--// Prices --*/

/*-- team --*/

h3.sec-title {
    color: #eead31;
    text-align: right;
    font-size: 2em;
    text-transform: capitalize;
    background: #000;
    padding: 12px 15px 12px 10px;
    margin-bottom: 1em;
    width: 30%;
    float: right;
}

h3.sec-title span {
    background: #eead31;
    color: #000;
    padding: 0 5px;
    margin: 0 10px;
}

.team-grids {
    padding: 0;
    text-align: center;
}

.team-effect {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
    -ms-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.team-effect img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-effect:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-effect:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.team-effect:hover .w3_agile-team-text {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-radius: 0 0 0 0;
}

.team-effect:hover .social-icon {
    bottom: 34%;
    -moz-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.team-effect:hover .social-icon a {
    -webkit-animation-name: translate-transition;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: translate-transition;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.team-effect .w3_agile-team-text {
    background-color: #000;
    -webkit-transition: all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;
    -moz-transition: all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;
    -ms-transition: all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;
    -o-transition: all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;
    transition: all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;
    padding: 20px;
    width: 100%;
    position: absolute;
    z-index: 99;
    -webkit-border-radius: 25px 0 0 0;
    -moz-border-radius: 25px 0 0 0;
    border-radius: 25px 0 0 0;
}

.team-effect .w3_agile-team-text h4 {
    color: #e8c802;
    font-size: 1.5em;
}

.team-effect .w3_agile-team-text p {
    margin-top: 0.3em;
}

.team-effect .social-icon {
    bottom: 0;
    padding: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
    z-index: 9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(1000%);
    -o-transform: translateY(1000%);
    -ms-transform: translateY(1000%);
    -webkit-transform: translateY(1000%);
    transform: translateY(1000%);
}
.social-button {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
}

.social-button:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 102%;
    left: -118%;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button .fa {
    font-size: 2em;
    line-height: 1.5;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.facebook:before {
    background-color: #3B5998;
}

.social-button.facebook .fa {
    color: #3B5998;
}

.social-button.twitter:before {
    background-color: #3CF;
}

.social-button.twitter .fa {
    color: #3CF;
}

.social-button.google:before {
    background-color: #DC4A38;
}

.social-button.google .fa {
    color: #DC4A38;
}

.social-button.dribbble:before {
    background-color: #F26798;
}

.social-button.dribbble .fa {
    color: #F26798;
}

.social-button.skype:before {
    background-color: #00AFF0;
}

.social-button.skype .fa {
    color: #00AFF0;
}

.social-button:focus:before,
.social-button:hover:before {
    top: -10%;
    left: -10%;
}

.social-button:focus .fa,
.social-button:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/*-- //team --*/


/*-- gallery --*/

.gallery {
    background: #e8e8e8;
}

.gallery-grids:nth-child(1) {
    padding: 0 1em 0em 0;
}

.gallery-grids:nth-child(2) {
    padding: 0 1em 0 0em;
}

div#gallery h3.sec-title,
#clients h3.sec-title {
    float: left;
    width: 26%;
}

.gallery-grids {
    padding: 1em;
}


/*-- imghvr-hinge --*/

[class^='imghvr-'],
[class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0px;
    max-width: 100%;
    background-color: #eead31;
    color: #212121;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
}

[class^='imghvr-']>img,
[class*=' imghvr-']>img {
    vertical-align: top;
    max-width: 100%;
}
